
/* nav {
    display: contents;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
    padding: 0 3rem;
} */

header {
    background-color: #FFC75F;
    color: white;
    border-bottom: 2px solid;
    
    
    
   

    
}

.navers {

    
    
}

.naverstest {
    
    
}

.hehe, .hehe1, .hehe2 {
    
    
    
    
display:inline-block;
padding:15px 1%;
width: 31%;
margin-inline-start: 100px;
margin-inline-end: 50px;
    
}
 

#logout-key {
    
    color: black;

 }   


    
    

.hehe {
    
    
    
   
}

.hehe1 {
   
    

}

.hehe2 {

    
    
}
.naverstest2  {
    
    
    
    
    
    
    
    margin: auto;
    
    
    
}

.navigators {

    max-width: 1300px;
    
    padding: 0 3rem;
}

.logoutButton {
    width: 100%;
}