/* picture thing */
@font-face{
src: "Love Ya Like A Sister", Arial, sans-serif;
font-family: "Love Ya Like A Sister", Arial, sans-serif;
}

.firstPicture {
    size: 50%;
    width: 10%;
    justify-content: center;
    right: -40rem;
    margin:auto;
    align-items: center;
    text-align: center;
    
    
    z-index: 2;
    
  }
  
  .secondPicture {
  position: relative;
  
  z-index: 1;
  justify-content: center;
  margin: auto;
  align-items: center;
  text-align: center;
  right: -25rem;
  
  }
  
  .continueCircle {
    padding: 0.5rem 1rem;
    background-color: #845ec2;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease;
    border: none;
    font-size: inherit;
  }
  
  .continueCircle:hover {
    background-color: rgb(33, 252, 13);
    color: rgb(0, 0, 0);
    transform: scale(1.2);
  }
  
  .continueCircle:disabled {
    background-color: rgba(128, 255, 0, 0.546);
    color: black;
  }
  
  
.usernameBox {
  
  background-color: #ffff;
  border: 3px solid rgb(22, 22, 21);
  border-radius: 3rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  margin: auto;
  

  
      
      
      
}
  
  .usernameBoxLower {
      color: #845ec2;
      padding-bottom: 0.5rem;
  
  
  }
  
  
  .textInput {
      
      font-family: sans-serif;
      background-color:  #EFEFEF;
      padding: 0.5rem;
      margin: 1rem;
      flex-grow: 1;
      border: #181717,;
  }
  
  .hidden.hidden {
  
    border-style: hidden;
    
  } 
   
  
  .firstPicture, .secondPicture {
    position: relative;
    height:auto;
  }

  .titletest {
    color: white;
  }

  .titletest h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 5vw;
    font-weight: 400;
    
  }

  .titletest h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
  
  }

  h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.75rem;
  }

 
  
  
  
  
  /* box-sizing: border-box;
      
      position: relative;
      width: 71px;
      height: 55px;
      z-index: -1;
      
      
      
      border: 5px solid #FFFFFF; */
  