body {
  margin: auto;
  position: relative;
  background: #ffffff;
  }
  
  #rectangle {
  display: inherit;
  display: grid;
  height: 700px;
  size: 500rem;
  background:  #FFC75F;
  }
  
  #title {
  
  position: relative;
  width: 427px;
  height: 49px;
  font-family: 'Love Ya Like A Sister';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  
  
  
  color: #f40a0a;
  
  }
  
  /* #upperRectangle  {
  
    position: absolute;
    width: 1440px;
    height: 101px;
    left: 0px;
    top: 0px;
    
    
    background: #FFC75F;
    
    
    }

  
  
  
  
  
  
  
  
  
  
  
  
  

